<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modalDeleteConfirm">

  <div class="modal fade" id="modal-warning">
    <div class="modal-dialog">
      <div class="modal-content bg-gradient-warning">
        <div class="modal-header">
          <h4 class="modal-title">삭제하기</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>정말 삭제하시겠습니까??</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">아니오</button>
          <button id="btnDelete" type="button" class="btn btn-outline-dark btn-danger" data-dismiss="modal">예, 삭제합니다</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <!-- /.modal -->
</th:block>

</html>