<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebar(adminMember, link, group)">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link" th:style="${@environment.getActiveProfiles()[1] == 'local' ? 'background-color: green' : ''}">
      <span class="brand-text font-weight-light" th:if="${@environment.getActiveProfiles()[0] == 'admin'}">신세계로AI</span>
    </a>

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/assets/dist/img/default-user-v1.jpeg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block" th:utext="${adminMember.getName()}">Default User</a>
        </div>
      </div>

      <!-- Sidebar Menu : 수퍼어드민  -->
      <nav class="mt-2"  th:if="${@environment.getActiveProfiles()[0] == 'admin'}">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <!-- 상위 메뉴: 상담내역 -->
          <li class="nav-item menu-is-opening menu-open">
            <a href="#" class="nav-link" th:classappend="${#strings.contains(link, 'counsel')} ? 'active' : ''">
              <i class="nav-icon fas fa-comments"></i>
              <p>상담내역 <i class="right fas fa-angle-left"></i></p>
            </a>

            <!-- 하위 메뉴 -->
            <ul class="nav nav-treeview" style="padding-left: 10px;">
              <li class="nav-item">
                <a href="/counsel_list" class="nav-link" th:classappend="${link == '/counsel_list' ? 'active' : ''}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>상담내역 목록</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</th:block>

</html>