<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="layout/head :: head(~{::title}, ~{::link})">-->
<head th:replace="~{layout/head :: head('이용내역', '')}">

<body class="hold-transition sidebar-mini">

<!-- Site wrapper -->
<div class="wrapper">

  <!-- Navbar -->
  <th:block th:replace="~{layout/navbar :: navbar(${adminMember}, '')}" />
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="~{layout/sidebar :: sidebar(${adminMember}, '/history', '2')}" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-4">
          <div class="col-sm-6">
            <h1>이용내역 리스트</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">홈</a></li>
<!--              <li class="breadcrumb-item active">Blank Page</li>-->
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">이용내역을 조회하며 최신순으로 노출됩니다.</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">

          <!-- Filter 영역 시작 -->
          <section class="content">
            <div class="container-fluid">
              <form class="form-horizontal">
                <div class="row">

                  <div class="col-md-4">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="inputStatus" class="col-sm-5 col-form-label">필터링</label>
                        <div class="col-sm-7">
                          <div class="form-group">
                            <select name="status" id="inputStatus" class="form-control">
                              <option value="all" >전체</option>
                              <option value="withoutLoginLogout" >로그인 제외</option>
                            </select>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="inputKeyword" class="col-sm-3 col-form-label">검색키워드</label>
                        <div class="col-sm-9">
                          <div class="form-group">
                            <input type="text" name="keyword" id="inputKeyword" class="form-control" placeholder="검색어 입력 (아이디,휴대폰번호)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </section>
          <!-- Filter 영역 끝 -->

          <table id="list" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>기록일시</th>
              <th>아이디</th>
              <th>사용자</th>
              <th>활동</th>
              <th>설명</th>
            </tr>
            </thead>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2024 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<th:block th:replace="~{layout/scripts :: scripts_tables('', '')}" />

<script src="/custom/my-script.js"></script>

<script>
  $(function () {
    let table = $('#list').DataTable({
      "pagingType": "full_numbers",
      "processing": true,
      "serverSide": true,
      "ordering": false,
      "stateSave": true,
      "searching": false,   // Search 인풋 박스
      "lengthChange": false,  // pagination length 셀렉트박스 없애기.
      "pageLength": 10,
      "info": true,   // 테이블 하단에 총 아이템수 등이 표기된다. "Showing 1 to 8 of 8 entries"
        destroy: true,
        paging: true,
      columnDefs: [
        { width: '20%', targets : [0] },
        { width: '20%', targets : [1] },
        { width: '20%', targets : [2] },
        { width: '20%', targets : [3] },
        { width: '20%', targets : [4] },
      ],
      fixedColumns: true,
      // "dom": 'lftipr',
        // info : false,  // entries 삭제.
        "ajax": {
          "url": "/history",
          "type": "POST",
          "data": function ( d ) {  // 커스텀 파라미터를 넣을 수 있다.
            return $.extend( {}, d, {
              "status": $("#inputStatus option:selected").val(),
              "keyword": $("#inputKeyword").val(),
            } );
          },
          "dataSrc": function(res) {
            return res.data.history.content;
          },error:function(request, status, error){
            console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
          }
        },
        "columns" : [
          { data: 'createdAt'},
          { data: 'email'},
          { data: 'name'},
          { data: 'actionName'},
          { data: 'description'}
        ],
      });
    $('#inputStatus,#inputType').on('change', function () {
      table.search('markerValue', true, false, true).draw();
    });

    $('#inputKeyword').on('keyup', function () {
      table.search('markerValue', true, false, true).draw();
    });

  });
</script>
</body>
</html>
