<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="layout/head :: head(~{::title}, ~{::link})">-->
<head th:replace="~{layout/head :: head('패스워드 재설정', '')}">

<body class="hold-transition sidebar-mini">

<!-- Site wrapper -->
<div class="wrapper">

  <!-- Navbar -->
  <th:block th:replace="~{layout/navbar :: navbar(${clientEmployee}, '')}" />
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="~{layout/sidebar :: sidebar(${clientEmployee}, '/client_position_list', '2')}" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">홈</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <form id="form">

        <div class="row">

          <div class="col-md-3">

          </div>
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">패스워드 재설정</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
<!--              <form id="form">-->
                <div class="card-body">
                  <div class="form-group">
                    <label class="col-form-label">현재 패스워드</label>
                    <input name="before" type="password" class="form-control" placeholder="현재 패스워드를 입력해주세요">
                  </div>

                  <div class="form-group">
                    <label class="col-form-label">새로운 패스워드</label>
                    <input name="password1" type="password" class="form-control" placeholder="현재 패스워드를 입력해주세요">
                  </div>

                  <div class="form-group">
                    <label class="col-form-label">새로운 패스워드 반복</label>
                    <input name="password2" type="password" class="form-control" placeholder="현재 패스워드를 한번더 입력해주세요">
                  </div>

                  <!-- /.card -->
<!--                  <input type="hidden" name="seq" id="seq" th:value="${clientPosition?.getSeq()}">-->
                  <input type="hidden" name="uploadImageSeq" id="uploadImageSeq">
                  <input type="hidden" name="imageSize" id="imageSize">
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button id="btnUpdate" type="submit" class="btn btn-primary">수정하기</button>
                </div>

            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-3">

          </div>
          <!--/.col (right) -->
        </div>

        </form>

        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- modal -->
  <th:block th:replace="~{layout/modals :: modalDeleteConfirm}" />
  <!-- /.modal -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2024 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<th:block th:replace="~{layout/scripts :: scripts_tables('', '')}" />

<script src="/custom/my-script.js"></script>

<script>

  function validationCheck() {

    if($( "#form [name='before']" ).val() == '') {
      alert('현재 패스워드를 입력하세요.');
      throw 'invalidInput';
    }

    if($( "#form [name='password1']" ).val() == '') {
      alert('새로운 패스워드를 입력하세요.');
      throw 'invalidInput';
    }

    if($( "#form [name='password2']" ).val() == '') {
      alert('새로운 패스워드를 한번더 반복해서 입력하세요.');
      throw 'invalidInput';
    }

    if($( "#form [name='password1']" ).val() !== $( "#form [name='password2']" ).val()) {
      alert('새로운 패스워드가 서로 다릅니다. 다시 입력해주세요.');
      throw 'invalidInput';
    }

  }

  $(function () {

    // 1. 업데이트 버튼
    $("#btnUpdate").click(function (event) {
      validationCheck();
      myScript.update("#form", "/update_password");
    });

  });
</script>
</body>
</html>
